* {
    margin: 0;
    padding: 0;
    font: 400 18px 'Josefin Sans', sans-serif;
    box-sizing: border-box;

}

/* dark & light mode variables */
/* light theme */

:root {
    --bkg-color: hsl(236, 33%, 92%);
    --text-color: hsl(235, 19%, 35%);
    --bkg-image: url(./images/bg-desktop-light.jpg);
    --mode-image: url(./images/icon-moon.svg);
    --todo-color: hsl(0, 0%, 98%);
}

.dark {
    --bkg-color: hsl(235, 21%, 11%);
    --text-color: hsl(234, 39%, 85%);
    --bkg-image: url(./images/bg-desktop-dark.jpg);
    --mode-image: url(./images/icon-sun.svg);
    --todo-color: hsl(235, 24%, 19%);
}

/* dark theme */

@media (prefers-color-scheme: dark) {
    :root {
        --bkg-color: hsl(235, 21%, 11%);
        --text-color: hsl(234, 39%, 85%);
        --bkg-image: url(./images/bg-desktop-dark.jpg);
        --mode-image: url(./images/icon-sun.svg);
        --todo-color: hsl(235, 24%, 19%);
    }

    .light {
        --bkg-color: hsl(236, 33%, 92%);
        --text-color: hsl(235, 19%, 35%);
        --bkg-image: url(./images/bg-desktop-light.jpg);
        --mode-image: url(./images/icon-moon.svg);
        --todo-color: hsl(0, 0%, 98%);
    }
}

body {
    background-color: var(--bkg-color);
    color: var(--text-color);
    transition: all 0.30s ease;
}

header {
    background-image: var(--bkg-image);
    height: 300px;
    background-size: cover;
    margin-bottom: -13rem;
}

main {
    width: 600px;
    margin: 0 auto;
    position: relative;
}

.hdr {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

}

h1 { 
    color: hsl(0, 0%, 98%);
    text-transform: uppercase;
    font-size: 2.125rem;
    font-weight: 700;
    letter-spacing: 1rem;
    line-height: 1.44rem;
    margin-top:7px;
}

.mode-toggle {
    background-image: var(--mode-image);
    background-color: transparent;
    border: none;
    width: 26px;
    height: 26px;
    background-position: center;
}

ul {
    list-style-type: none;
    width: 100%;
}

ul:first-of-type {
    margin-bottom: 25px;
}

ul:first-of-type > li > span {
    display: inline-block;
    width: 85%;
}

ul:first-of-type > li {
    border-radius: 5px;
    border: 0;
}

li {
    height: 75px;
    background-color: var(--todo-color);
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsl(233, 14%, 35%);
    padding-right: 20px;
}

li:first-child {
    border-radius: 5px 5px 0 0;
    margin-top: 25px;
}

li::before {
    content: '';
    background: transparent;
    height: 26px;
    width: 26px;
    border: 1px solid hsl(233, 14%, 35%);
    border-radius: 26px;
    margin-left: 25px;
    margin-right: 25px;
}

li:hover::before {
    background: linear-gradient(var(--todo-color), var(--todo-color)) content-box, linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
    border: 1px solid transparent;
}

li.checked::before {
    background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
    border: 1px solid transparent;
}

li > span {
    margin-top: 5px;
    display: inline-block;
}

.checked > span {
    text-decoration: line-through;
}

input[type=text] {
    background: transparent;
    border: 0;
    width: 100%;
    color: var(--text-color);
}

input::placeholder {
    color: hsl(234, 11%, 52%);
}

input[type=text]:focus {
    outline: none;
    color: var(--text-color);
}

.btm {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--todo-color);
    border-radius: 0 0 5px 5px;
}

.btm > div {
    flex: 1 0 0;
    font-size: 14px;
    font-weight: 700;
    color: hsl(233, 14%, 35%);
}

.btm > div:nth-child(2) {
    text-align: center;
}

.btm > div:last-child {
    text-align: right;
}