* {
    margin: 0;
    padding: 0;
}

/* light theme */

body {
    background-color: hsl(236, 33%, 92%);
}

/* dark theme */

@media (prefers-color-scheme: dark) {
    body {
        background-color: hsl(235, 21%, 11%);
    }
}