* {
    margin: 0;
    padding: 0;
    font: 400 18px 'Josefin Sans', sans-serif;
}

/* dark & light mode variables */
/* light theme */

:root {
    --bkg-color: hsl(236, 33%, 92%);
    --text-color: hsl(235, 19%, 35%);
    --bkg-image: url(./images/bg-desktop-light.jpg);
    --mode-image: url(./images/icon-moon.svg);
    --todo-color: hsl(0, 0%, 98%);
}

.dark {
    --bkg-color: hsl(235, 21%, 11%);
    --text-color: hsl(234, 39%, 85%);
    --bkg-image: url(./images/bg-desktop-dark.jpg);
    --mode-image: url(./images/icon-sun.svg);
    --todo-color: hsl(235, 24%, 19%);
}

/* dark theme */

@media (prefers-color-scheme: dark) {
    :root {
        --bkg-color: hsl(235, 21%, 11%);
        --text-color: hsl(234, 39%, 85%);
        --bkg-image: url(./images/bg-desktop-dark.jpg);
        --mode-image: url(./images/icon-sun.svg);
        --todo-color: hsl(235, 24%, 19%);
    }

    .light {
        --bkg-color: hsl(236, 33%, 92%);
        --text-color: hsl(235, 19%, 35%);
        --bkg-image: url(./images/bg-desktop-light.jpg);
        --mode-image: url(./images/icon-moon.svg);
        --todo-color: hsl(0, 0%, 98%);
    }
}

body {
    background-color: var(--bkg-color);
    color: var(--text-color);
    transition: all 0.30s ease;
}

header {
    background-image: var(--bkg-image);
    height: 300px;
    background-size: cover;
    margin-bottom: -13rem;
}

main {
    display: grid;
    grid-template-areas: 
        "header header toggle"
        "new new new"
        "todo todo todo"
        "left state clear"
        "info info info";
    width: 500px;
    margin: 0 auto;
    position: relative;
}

h1 { 
    color: hsl(0, 0%, 98%);
    text-transform: uppercase;
    font-size: 2.125rem;
    font-weight: 700;
    letter-spacing: 1rem;
    grid-area: header;
}

.mode-toggle {
    background-image: var(--mode-image);
    grid-area: toggle;
    background-color: transparent;
    border: none;
    color: none;
    width: 26px;
    height: 26px;
    background-position: center;
    align-self: center;
    justify-self: end;
}

.new {
    grid-area: new;
    height: 2.778rem;
    background-color: var(--todo-color);
    list-style: none;
}

.all {
    grid-area: todo;
    display: grid;
    grid-auto-rows: 2.778rem;
    list-style: none;
}

.all > li {
    background-color: var(--todo-color);
}

.all > li::before {
    content: '';
    border: 1px solid hsl(233, 14%, 35%);
    height: 18px;
    width: 18px;
    border-radius: 18px;
    display: inline-block;
    background-color:transparent;
}

.all > li:hover::before {
    background: linear-gradient(var(--todo-color), var(--todo-color)) padding-box, linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
    border-radius: 18px;
    border:1px solid transparent;
}

.left {
    grid-area: left;
}

.state { 
    grid-area: state;
}

.clear {
    grid-area: clear;
}

.info {
    grid-area: info;
}